.container{
    display: flex;
}

input,label{
    cursor: pointer;
}

form div{
    margin: 5px;
    width: fit-content;
}
form fieldset{
    width: fit-content;
    border: white 3px solid;
    background-color: lightcyan;
    box-shadow: 8px 8px lavender;
}
form legend{
    background-color: yellowgreen;
    padding: 2px;
}
p{
    background-color: aquamarine;
}
#result{
    display: none;
}
#result fieldset{
    width: fit-content;
    border: dashed 5px white;
    background-color: antiquewhite;
}
#result legend{
    background-color: yellowgreen;
    color: white;
    border: dashed 3px ;
}
#result div{
    margin: 8px;
    width: fit-content;
}
#result label{
    width: 100%;
    border-bottom: solid black;
    color: gray;
}
#result input{
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
}